// basic styles
$card-width: 5em;
$card-height: 7em;
$card-margin: 0.3em;

// basic colors
$color-background: #f6f6f6;
$color-background-hover: rgb(227, 255, 227);
$color-downturned-background: #cc9;
$color-downturned-icon: #987;

$color-hearts: #c00;
$color-diamonds: $color-hearts;
$color-spades: #000;
$color-clubs: $color-spades;

// how much the corners of the cards are rounded
$card-corner-round-radius: 0.3em;

// characters used for the icons
// two spaces are necessary after a Unicode character, since these will be concatenated
$icon-hearts: "\2665  ";
$icon-diamonds: "\2666  ";
$icon-spades: "\2660  ";
$icon-clubs: "\2663  ";
$icon-k: "K";
$icon-q: "Q";
$icon-j: "J";
$icon-joker: "\263A  ";
$icon-downturned: "\2748  "; // the icon on the back of the card

// colors and icons
$suits: (
  "spades": ("color": $color-spades, "icon": $icon-spades),
  "clubs": ("color": $color-clubs, "icon": $icon-clubs),
  "diamonds": ("color": $color-diamonds, "icon": $icon-diamonds),
  "hearts": ("color": $color-hearts, "icon": $icon-hearts),
);

// face parameters
$ranks: (
  "2": ("before": ("icons": 2, "width": 60%, "margin-top": -0.5em, "line-height": 2.6em), "after": ("icons": 0) ),
  "3": ("before": ("icons": 3, "width": 60%), "after": ("icons": 0)),
  "4": ("before": ("icons": 4, "margin-top": -0.5em, "line-height": 2.6em), "after": ("icons": 0)),
  "5": ("before": ("icons": 4, "margin-top": -0.5em, "line-height": 2.6em), "after": ("icons": 1, "line-height": 4em)),
  "6":("before": ("icons": 6), "after": ("icons": 0)),
  "7": ("before": ("icons": 6), "after": ("icons": 1, "line-height": 2.7em)),
  "8": ("before": ("icons": 8, "margin-top": 0.1em, "line-height": 1em), "after": ("icons": 0)),
  "9": ("before": ("icons": 8, "margin-top": 0.1em, "line-height": 1em), "after": ("icons": 1, "line-height": 4em)),
  "10": ("before": ("icons": 8, "margin-top": 0.1em, "line-height": 1em), "after": ("icons": 2, "line-height": 2.05em)),
  "j": ("before": ("icons": 1, "margin-top": 0.1em, "font-size": 3em, "line-height": 2em), "after": ("icons": 0), "custom-icon": $icon-j),
  "q": ("before": ("icons": 1, "margin-top": 0.1em, "font-size": 3em, "line-height": 2em), "after": ("icons": 0), "custom-icon": $icon-q),
  "k": ("before": ("icons": 1, "margin-top": 0.1em, "font-size": 3em, "line-height": 2em), "after": ("icons": 0), "custom-icon": $icon-k),
  "a": ("before": ("icons": 1, "margin-top": 0.1em, "font-size": 4em, "line-height": 1.5em), "after": ("icons": 0)),
);

.card {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  width: $card-width;
  height: $card-height;
  margin: $card-margin;
  background-color: $color-background;
  font-family: Times, serif;
  font-weight: bold;
  border-width: 0.07em;
  border-style: solid;
  border-color: #666;
  border-radius: $card-corner-round-radius;
  box-shadow: 0.07em 0.07em 0.07em 0.07em rgba(20, 20, 20, 0.4);
  cursor: pointer;

  &:hover {
    background: $color-background-hover;
  }

  // upper left of card 
  &:before,
  &:after {
    display: block;
    text-align: center;
    width: 0.8em;
    padding: 0.1em 0.2em 0 0.1em;
    line-height: 1em;
  }

  // center of card
  span {
    display: block;
    position: absolute;
    top: 0.1em;
    bottom: 0;
    left: 0.8em;
    right: 0.8em;
    text-align: center;

    // icons in the left and right columns
    &:before {
      display: block;
      font-size: 1.6em;
      margin: 0.2em auto;
    }

    // icons in the center column
    &:after {
      position: absolute;
      top: 0;
      left: 0.5em;
      display: block;
      width: 1em;
      font-size: 1.6em;
    }
  }

  // face down cards
  &.card-downturned {
    background-color: $color-downturned-background;

    span {
      left: 0;
      right: 0;
    }

    &:before,
    &:after,
    >span:before {
      opacity: 0;
    }

    span:after {
      display: block;
      top: 0.5em;
      bottom: 0.5em;
      left: 0.5em;
      right: 0.5em;
      width: auto;
      background-color: darken($color-downturned-background, 10%);
      border-radius: $card-corner-round-radius;
      font-size: 1em;
      line-height: 5em;
      text-align: center; // fix for older IE
      color: $color-downturned-icon;
      content: $icon-downturned;
      border: 0.15em dashed saturate($color-downturned-icon, 20%);
    }
  }

  &.card-dragged {
    opacity: 0;
  }

  &.card-placeholder {
    opacity: 0.5;
  }
}

// diamond icons are narrower than the other suits' icons, making the icon columns too close together without this
.card-diamonds {
  word-spacing: 0.4em
}

@each $suit, $params in $suits {
  .card-#{$suit} {
    color: map-get($params, "color");

    &:after {
      content: map-get($params, "icon");
    }
  }
}

@each $rank, $props in $ranks {
  $props-before: map-get($props, "before");
  $props-after: map-get($props, "after");

  $margin-top-before: map-get($props-before, "margin-top");
  $margin-top-after: map-get($props-after, "margin-top");

  $font-size-before: map-get($props-before, "font-size");
  $font-size-after: map-get($props-after, "font-size");

  $line-height-before: map-get($props-before, "line-height");
  $line-height-after: map-get($props-after, "line-height");

  $width-before: map-get($props-before, "width");
  $width-after: map-get($props-after, "width");

  .card-#{$rank} {
    text-transform: capitalize;

    &:before {
      content: $rank;
    }

    span {
      &:before {
        @if $margin-top-before { margin-top: $margin-top-before; }
        @if $line-height-before { line-height: $line-height-before; }
        @if $font-size-before { font-size: $font-size-before; }
        @if $width-before { width: $width-before; }
      }

      &:after {
        @if $margin-top-after { margin-top: $margin-top-after; }
        @if $font-size-after { font-size: $font-size-after; }
        @if $line-height-after { line-height: $line-height-after; }
        @if $width-after { width: $width-after; }
      }
    }

    @each $suit, $params in $suits {
      &.card-#{$suit} {
        $icon: map-get($props, "custom-icon");
        @if ($icon == null) {
          $icon: map-get($params, "icon");
        }

        $before-icon-count: map-get($props-before, "icons");
        @if $before-icon-count > 0 {
          $before-icons: "";
          @while $before-icon-count > 0 {
            $before-icons: $before-icons + $icon;
            $before-icon-count: $before-icon-count - 1;
          }

          span:before {
            content: $before-icons;
          }
        }

        $after-icon-count: map-get($props-after, "icons");
        @if $after-icon-count > 0 {
          $after-icons: "";
          @while $after-icon-count > 0 {
            $after-icons: $after-icons + map-get($params, "icon");
            $after-icon-count: $after-icon-count - 1;
          }

          span:after {
            content: $after-icons;
          }
        }
      }
    }
  }
}
