.pile-area {
  display: flex;
  flex-wrap: nowrap;

  .pile {
    grid-template-columns: 1fr;

    .cards {
      display: grid;
      
      .card {
        grid-row-start: 1;
        grid-column-start: 1;
    
        @for $index from 0 through 20 {
          &:nth-child(#{$index - 1}) {
            margin-top: $index * 2px;
          }
        }
      }
    }
  }
}
