.stock-area {
  .next-card,
  .current-card {
    // display: inline-block;
    float: left;
    
    .card-wrapper {
      display: grid;

      .card {
        grid-row-start: 1;
        grid-column-start: 1;
      }
    }
  }
}
